body {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
}

/* Fonts */
@font-face {
    font-family: Raleway;
    src: url('fonts/Raleway/raleway-regular-webfont.eot');
    src: url('fonts/Raleway/raleway-regular-webfont.eot?#iefix')
        format('embedded-opentype'), url('fonts/Raleway/raleway-regular-webfont.woff')
        format('woff'), url('fonts/Raleway/raleway-regular-webfont.ttf')
        format('truetype'), url('fonts/Raleway/raleway-regular-webfont.svg#ralewayregular')
        format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Source Sans";
    src: url('fonts/SourceSans/sourcesans.eot');
    src: url('fonts/SourceSans/sourcesans.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSans/sourcesans.woff') format('woff'),
         url('fonts/SourceSans/sourcesans.ttf') format('truetype'),
         url('fonts/SourceSans/sourcesans.svg#SourceSans') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Floats */
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix {
    clear: both;
}
.inline {
    display: inline-block;
    vertical-align: top;
}


/* Site Wrapper */
.site_wrapper {
    height: 100vh;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* Black Bar */
.black_bar {
    background: #333;
    height: 120px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 15;
}

.site_header {
    position: relative;
    z-index: 15;
    margin: 40px auto 20px;
    max-width: 1200px;
    min-width: 800px;
    padding: 0 10px;
}
.site_header-company {
    color: #EEE;
    font-size: 24pt;
    font-family: "Source Sans";
}
.site_header-company > a {
    border: 0;
    color: #EEE;
    outline: none;
    text-decoration: none;
}
.site_header-company-logo {
    float: left;
    margin: 5px 10px 0 0;
}
.site_header-company-logo > img {
    min-height: 32px;
    max-height: 64px;
    outline: none;
}
.site_header-company-text {
    color: #EEE;
    text-decoration: none;
}
.site_header-company-tag {
    color: #AAA;
    font-size: 18pt;
}
.site_header-company-tag:before {
    content: "-";
    margin: 0 0 0 10px;
}

/* Content */
.site_content {
    background-color: #FFF;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    box-shadow: 0px 10px 10px #CCC;
    min-height: calc(100% - 160px);
    margin: 120px auto 0;
    max-width: 1200px;
    min-width: 800px;
    padding-bottom: 40px;
    position: relative;
}
.site_content-header {
    border-bottom: 1px solid #EEE;
    color: #444;
    font-family: "Source Sans", sans-serif;
    font-size: 24pt;
    margin: 0 0 30px;
    padding: 15px 0 10px 30px;
}
.site_content-main-header {
    border-bottom: 1px solid #EEE;
    color: #444;
    font-family: "Source Sans", sans-serif;
    font-size: 24pt;
    margin-left: 200px;
    margin-bottom: 30px;
    padding: 15px 0 10px 30px;
}
.site_content-full {
    padding: 10px 30px;
}
.site_content-nav {
    border-right: 1px solid #EEE;
    bottom: 0;
    float: left;
    position: absolute;
    top: 0;
    width: 200px;
}
.site_content-nav ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}
.site_content-nav ul > li {
    padding: 0;
}
.site_content-nav ul > li > a:hover {
    color: #66A;
}
.site_content-nav ul > li > a {
    color: #88C;
    cursor: default;
    display: block;
    font-family: "Source Sans", sans-serif;
    font-size: 12pt;
    padding: 10px 20px;
    text-decoration: none;
    transition: color .3s;
}
.site_content-nav ul > li > a:hover {
    color: #88C;
    text-decoration: none;
}
.site_content-nav ul > li > ul {
    margin: 0;
    padding: 0 10px;
}
.site_content-nav ul > li > ul > li > a {
    color: #88A;
    font-size: 11pt;
    padding: 5px 20px;
}
.site_content-nav ul > li.current > a {
    background-color: #777;
    color: #DDF;
}
.site_content-nav ul > li > ul > li > a:hover {
    color: #88A;
    text-decoration: none;
}
.site_content-nav ul > li > ul > li > a:hover {
    background-color: transparent;
    text-decoration: underline;
}
.site_content-nav > ul > li > hr {
    border: 1px solid #EEE;
}
.site_content-main {
    float: left;
    margin-left: 200px;
    padding: 10px 30px;
    width: calc(100% - 260px);
}

/* Buttons */
.site_content input[type="submit"],
.site_content input[type="button"] {
    background: #DDD;
    border: 0;
    border-bottom: 3px solid #CCC;
    color: #222;
    font-family: Raleway, sans-serif;
    font-size: 10pt;
    padding: 8px 25px;
}

.site_content input[type="submit"]:hover,
.site_content input[type="button"]:hover {
    background: #EEE;
    border-bottom: 3px solid #DDD;
}

.site_content input[type="submit"]:active,
.site_content input[type="button"]:active {
    background: #CCC;
    border-bottom: 3px solid #BBB;
}

.site_content input[type="submit"].site-purpbtn,
.site_content input[type="button"].site-purpbtn {
    background: #CCF;
    border-bottom: 3px solid #BBE;
}

.site_content input[type="submit"].site-purpbtn:hover,
.site_content input[type="button"].site-purpbtn:hover {
    background: #DDF;
    border-bottom: 3px solid #CCF;
}

.site_content input[type="submit"].site-purpbtn:active,
.site_content input[type="button"].site-purpbtn:active {
    background: #BBE;
    border-bottom: 3px solid #AAD;
}

.site_content input[type="submit"].site-redbtn,
.site_content input[type="button"].site-redbtn {
    background: #FCC;
    border-bottom: 3px solid #EBB;
}

.site_content input[type="submit"].site-redbtn:hover,
.site_content input[type="button"].site-redbtn:hover {
    background: #FDD;
    border-bottom: 3px solid #FCC;
}

.site_content input[type="submit"].site-redbtn:active,
.site_content input[type="button"].site-redbtn:active {
    background: #BEB;
    border-bottom: 3px solid #ADA;
}

.site_content input[type="submit"].site-greenbtn,
.site_content input[type="button"].site-greenbtn {
    background: #CFC;
    border-bottom: 3px solid #BEB;
}

.site_content input[type="submit"].site-greenbtn:hover,
.site_content input[type="button"].site-greenbtn:hover {
    background: #DFD;
    border-bottom: 3px solid #CFC;
}

.site_content input[type="submit"].site-greenbtn:active,
.site_content input[type="button"].site-greenbtn:active {
    background: #BEB;
    border-bottom: 3px solid #ADA;
}

/* Headers and Paragraphs */
h2 {
    border-bottom: 1px solid #EEE;
    color: #AAA;
    font-family: "Source Sans", sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0 0 10px;
}
h2:not(:first-child) {
    margin-top: 35px;
}
p.header-p {
    padding: 0 10px;
}

/* Links */
.site_content a {
    color: #66E;
    text-decoration: none;
    transition: color .3s;
}
.site_content a:hover {
    color: #55D;
    text-decoration: underline;
}

/* Form */
.site-form {
	margin: 0;
	padding: 0;
	width: 700px;
}
.site-form hr {
	border: 1px solid #DDDDDD;
	margin: 40px 0 15px;
	padding: 0;
}
.site-formheader {
    border-bottom: 1px solid #EEE;
    color: #888;
    font-size: 16pt;
    margin-bottom: 15px;
    padding: 5px;
}
.site-formheader:not(:first-child) {
    margin-top: 35px;
}
.site-formrow {
	margin-bottom: 15px;
}
.site-formlabel {
	color: #696996;
	font-family: "Source Sans", sans-serif;
	font-size: 12pt;
	padding: 0 5px;
}
.site-formlabel:after {
	content: ":";
}
.site-forminput {
	padding-left: 5px;
}
.site-formsubmitrow {
	padding-left: 5px;
}
.site-forminfo {
	color: #888888;
	padding: 5px;
	width: 800px;
}
.site-formtext {
	color: #555555;
	padding-left: 20px;
}
.sfl-float {
	float: left;
	margin-right: 4px;
}
.site-formimg {
    display: inline-block;
    margin-left: 15px;
}

/* Text input */
.site_content input[type="text"],
.site_content input[type="password"],
.site_content input[type="email"] {
	border: 1px solid #AAA;
    color: #444;
	outline: none;
	padding: 5px;
    transition: border .2s;
	width: 250px;
}
.site_content input[type="text"]:hover,
.site_content input[type="password"]:hover,
.site_content input[type="email"]:hover {
	border: 1px solid #77B;
}

.site_content input[type="text"]:focus,
.site_content input[type="password"]:focus,
.site_content input[type="email"]:focus {
	border: 1px solid #AAF;
}
.site_content input.longtext {
	width: 350px;
}
.site-bigta {
	border: 1px solid #AAAAAA;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	min-height: 100px;
	outline: none;
	padding: 5px;
	width: 550px;
}
.site-bigta:hover {
	border: 1px solid #777777;
}
.site-bigta:focus {
	border: 1px solid #555555;
}

/* Checkbox */
.site-cboxwrapper {
    float: left;
    margin-left: 15px;
    position: relative;
    width: 78px;
    -moz-user-select:none;
    -ms-user-select: none;
    -webkit-user-select:none;
}
.site-switchcbox {
    display: none;
}
.site-switchlabel {
    border: 1px solid #999999;
    cursor: pointer;
    display: block;
    overflow: hidden;
}
.site-switchinner {
    transition: margin-left .2s;
    -moz-transition: margin-left .2s;
    -ms-transition: margin-left .2s;
    -webkit-transition: margin-left .2s;
    display:block;
    margin-left: -100%;
    width: 200%;
}
.site-switchinner:before,
.site-switchinner:after {
    color: white;
    float: left;
    font-family: Trebuchet, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    padding: 0;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.of > .site-switchinner:before { content:"ON"; }
.of > .site-switchinner:after { content:"OFF"; }
.yn > .site-switchinner:before { content:"YES"; }
.yn > .site-switchinner:after { content:"NO"; }
.site-switchinner:before {
    background-color: #CCCCFF;
    color: #FFFFFF;
    padding-left: 10px;
}
.site-switchinner:after {
    background-color: #FFFFFF;
    color: #999999;
    padding-right: 10px;
    text-align: right;
}
.site-switchswitch {
    transition: right .2s;
    -moz-transition: right .2s;
    -ms-transition: right .2s;
    -webkit-transition: right .2s;
    background: #FFFFFF;
    border: 1px solid #999999;
    bottom: 0;
    margin: 3px;
    position: absolute;
    right: 50px;
    top: 0;
    width: 18px;
}
.site-switchcbox:checked + .site-switchlabel .site-switchinner {
    transition: margin-left .2s;
    -ms-transition: margin-left .2s;
    -moz-transition: margin-left .2s;
    -webkit-transition: margin-left .2s;
    margin-left: 0;
}
.site-switchcbox:checked + .site-switchlabel .site-switchswitch {
    transition: right .2s;
    -ms-transition: right .2s;
    -moz-transition: right .2s;
    -webkit-transition: right .2s;
    right: 0px;
}
.site-cboxlabel {
    color: #555555;
    float: left;
    font-size: 12pt;
    margin-top: 5px;
}

/* Select */
.site-selectlabel > select {
    appearance: none;
    transition: border .2s;
    -moz-transition: border .2s;
    -ms-transition: border .2s;
    -webkit-transition: border .2s;
    -webkit-appearance: none;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 0;
    color: #555555;
    cursor: default;
    display: inline-block;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    margin: 0;
    min-width:100px;
    outline: none;
    padding: 5px 7px 5px 5px;
}
.site-selectlabel > select:hover {
    border: 1px solid #9696C8;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .site-selectlabel > select { padding-right: 20px; }
}
.site-selectlabel { position: relative; padding: 2px 0; }
.site-selectlabel:after {
    background-color: #FFFFFF;
    color: #999999;
    content: "<>";
    font: 11px "Consolas", monospace;
    height: 15px;
    padding: 0 5px 4px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 0;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.site-selectlabel:before {
    background-color: #EEEEEE;
    content: '';
    display: block;
    height: 20px;
    pointer-events: none;
    position: absolute;
    right: 6px;
    top: 0;
}
.site-selectlabel > select:focus {
    border: 1px solid #C8C8FA;
}
.site-selectlabel > select > option {
    background-color:#FFFFFF;
}
.site-forminput > select {
    border: 1px solid #DDDDDD;
    max-height: 150px;
    max-width: 300px;
    outline: none;
    overflow-y: auto;
    padding: 5px 10px;
}
.site-form select[multiple] > option[selected] {
    color: #000000;
}

/* Links */
.site_content a {
    color: #66E;
    text-decoration: none;
    transition: color .3s;
}
.site_content a:hover {
    color: #55D;
    text-decoration: underline;
}

/* Scale */
@media (max-width: 1200px) {
    .site_content-nav {
        width: 175px;
    }
    .site_content-nav ul > li > a {
        font-size: 10pt;
    }
    .site_content-nav ul > li > ul > li > a {
        font-size: 10pt;
    }
    .site_content-main {
        margin-left: 175px;
    }
    .site_content-main-header {
        margin-left: 175px;
    }
}

/* Notifications */
.install-notifysuccess,
.install-notifyfailure,
.install-notifyinfo,
.install-notifywarn,
.site-notifyinfo {
	color: #444;
	margin-bottom: 20px;
	padding: 10px;
}
.install-notifysuccess {
	background: #DFD;
}
.install-notifyfailure {
	background: #FDD;
}
.install-notifyinfo,
.site-notifyinfo {
	background: #DDF;
}
.install-notifywarn {
	background: #FFD;
}
.install-notifysuccess > a,
.install-notifyfailure > a,
.install-notifyinfo > a,
.install-notifywarn > a {
	color: #666;
	text-decoration: none;
}
.install-notifysuccess > a:hover,
.install-notifyfailure > a:hover,
.install-notifyinfo > a:hover,
.install-notifywarn > a {
	color: #111;
	transition: color .5s;
}

.site-form .togrow {
    transition: max-height .5s;
    -moz-transition: max-height .5s;
    -ms-transition: max-height .5s;
    -webkit-transition: max-height .5s;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
}
.site-form .grown {
    max-height: 1000px;
    visibility: visible;
}