.theme_windows {
    left: 0;
    position: absolute;
    right: 0;
    top: 150px;
}

.theme-window {
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0px 0px 10px #CCC;
    display: none;
    margin: 0px auto;
    max-height: 400px;
    overflow-y: auto;
    width: 450px;
    z-index: 2000000;
}
.theme-window > .window-header {
    border-bottom: 1px solid #EEE;
    font-family: Raleway, sans-serif;
    font-size: 12pt;
    margin: 0 0 10px;
    padding: 10px 0;
    text-align: center;
}
.theme-window > .window-content {
    padding: 5px 20px 20px;
}
.theme-window > .window-content > .window-options {
    border-top: 1px solid #CCC;
    margin: 20px 0 0;
    padding: 10px 10px 0;
    text-align: right;
}

#theme_settings {
    margin: 0;
    padding: 10px;
}
.theme_tabs-wrapper ul {
    border-bottom: 1px solid #EEE;
    list-style: none;
    margin: 0;
    padding: 0;
}
.theme_tabs-wrapper ul li {
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
    transition: background-color .3s;
}
.theme_tabs-wrapper ul li:hover {
    background-color: #EEE;
}
.theme_tabs-wrapper ul li.current {
    background-color: #EEE;
}
.theme_tabs-wrapper ul li.current:hover {
    background-color: #DDD;
}
.theme_tabs-wrapper ul li a:hover {
    text-decoration: none !important;
}
#theme_settings-contents {
    padding: 15px;
}