/* Body */
html, body {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    height: 10px;
    margin: 0;
    padding: 0;
}

/* Floats */
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix {
    clear: both;
}

/* Fonts */
@font-face {
    font-family: "Source Sans";
    src: url('fonts/SourceSans/sourcesans.eot');
    src: url('fonts/SourceSans/sourcesans.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSans/sourcesans.woff') format('woff'),
         url('fonts/SourceSans/sourcesans.ttf') format('truetype'),
         url('fonts/SourceSans/sourcesans.svg#SourceSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

.main {
    padding:0;
}
.centered {
    margin: 0 auto;
    width: 475px;
}
.frown {
    float: left;
    font-size: 100pt;
}
.text {
    float: left;
    margin: 20px 40px;
}
.type {
    color: #AAA;
    font-size: 48pt;
}
.errortext {
    color: #555;
    margin: 10px 0;
}

a {
    color: #66E;
    text-decoration: none;
    transition: color .3s;
}
a:hover {
    color: #55D;
    text-decoration: underline;
}