#choice-window {
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0px 0px 10px #CCC;
    display: none;
    max-height: 400px;
    overflow-y: auto;
    position: absolute;
    top: 145px;
    width: 350px;
    z-index: 2000000;
}
#choice-window > .window-header {
    border-bottom: 1px solid #EEE;
    font-family: Raleway, sans-serif;
    font-size: 12pt;
    margin: 0 0 10px;
    padding: 10px 0;
    text-align: center;
}
#choice-window > .window-content {
    padding: 5px 5px 20px;
}
#choice-window > .window-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#choice-window > .window-content ul li {
    display: block;
}
#choice-window > .window-content ul li:not(:first-child) {
    margin: 10px 0 0;
}
#choice-window > .window-content ul li:not(:last-child) {
    padding: 0 0 10px;
    border-bottom: 1px solid #EEE;
}
#choice-window > .window-content ul li > span {
    display: inline-block;
    font-size: 11pt;
    padding: 2px 10px 0;
}
.options-row {
    border-top: 1px solid #CCC;
    margin: 20px 0 0;
    padding: 10px 10px 0;
}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#apps {
    margin: 20px 0 0;
}
#apps > ul {
    float:left;
    list-style: none;
    margin: 0;
    min-height: 50px;
    min-width: 500px;
    padding: 0;
    width: 45%;
}
#apps > ul:not(:first-child) {
    margin-left: 20px;
}
#apps > ul > li .admin_container-header:hover {
    cursor: hand;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
#apps > ul > li .admin_container-header:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
#apps > ul > li:not(:first-child) {
    margin-top: 20px;
}

.sortable-placeholder {
    border: 2px dashed #CCC;
    min-height: 50px;
}