.account_windows {
    left: 0;
    position: absolute;
    right: 0;
    top: 150px;
}

.accounts-window {
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0px 0px 10px #CCC;
    display: none;
    margin: 0px auto;
    max-height: 400px;
    overflow-y: auto;
    width: 450px;
    z-index: 2000000;
}
.accounts-window > .window-header {
    border-bottom: 1px solid #EEE;
    font-family: Raleway, sans-serif;
    font-size: 12pt;
    margin: 0 0 10px;
    padding: 10px 0;
    text-align: center;
}
.accounts-window > .window-content {
    padding: 5px 20px 20px;
}
.accounts-window > .window-content > .window-options {
    border-top: 1px solid #CCC;
    margin: 20px 0 0;
    padding: 10px 10px 0;
    text-align: right;
}