#editor_wrapper {
    position: relative;
    min-width: 575px;
}
#editor_wrapper * {
    font-size: 11pt;
}
.editor_fancy-input {
    border: 1px solid #CCC;
    font-family: sans-serif;
    font-size: 11pt;
    min-height: 200px;
    outline: none;
    overflow: hidden;
    padding: 10px;
    position: relative;
    transition: border .3s, box-shadow .3s;
    visibility: visible;
}
.editor_fancy-input:hover,
.editor_fancy-input:focus {
    border: 1px solid #888;
}
.editor_fancy-input:focus {
    box-shadow: inset 0 0 5px 1px #AAA;
}
.editor_fancy-input code {
    background-color: #EEE;
    display: block;
    padding: 10px;
}
.editor_fancy-closed {
    position: absolute;
    visibility: hidden;
}
.editor_code-input {
    border: 1px solid #CCC;
    min-height: 200px;
    outline: none;
    position: absolute !important;
    resize: none;
    top: 0;
    visibility: hidden;
}
.editor_code-open {
    position: relative !important;
    top: inherit;
    visibility: visible;
}
.CodeMirror-wrap pre {  word-break: break-all; }
#editor_link-info-wrapper {
    position: absolute;
    z-index: 10;
}
#editor_link-info-wrapper div {
    background-color: #222;
    border: 2px solid #444;
    box-shadow: 0 0 10px #444;
    padding: 5px 20px;
    position: absolute;
    transition: visibility 0s ease .5s;
    visibility: hidden;
    white-space: nowrap;
    z-index: 10;
}
#editor_link-info-wrapper div:hover {
    visibility: visible !important;
}
#editor_link-info-wrapper div a {
    color: #EEE;
    display: inline-block;
    text-decoration: none;
}
#editor_link-info-wrapper div a:hover {
    text-decoration: underline;
}
#editor_link-info-wrapper div a:not(:first-child) {
    margin-left: 40px;
}
#editor_link-info-wrapper div a:first-child {
    max-width: 300px;
    overflow: hidden;
}
.editor_link-info-open {
    transition: visibility 0s ease 0s;
    visibility: visible !important;
}
.editor_fancy-input img {
    cursor: default;
    margin: 10px;
}
.editor_breadcrumbs {
    border-bottom: 1px solid #CCC;
    box-shadow: inset 0 -6px 10px -10px #444;
    padding: 5px 10px;
}
.editor_breadcrumbs .path {
    color: #444;
    display: inline-block;
    font-weight: bold;
    margin: 0 10px 0 0;
}

/* Windows */
#editor_window-wrapper {
    position: absolute;
}
.editor_window {
    background-color: #FFF;
    border: 2px solid #AAA;
    box-shadow: 0 0 10px #444;
    max-height: 80%;
    overflow: hidden;
    padding: 10px;
    width: 500px;
    z-index: 9999999;
}
.editor_window-header {
    border-bottom: 1px solid #EEE;
    font-size: 16pt;
    margin-bottom: 15px;
    padding: 2px 10px 5px;
}
.editor_window-content {
    left: 20px;
    max-height: 500px;
    overflow: auto;
    position: absolute;
    right: 20px;
    top: 55px;
}
.editor_window-submit {
    background-color: #FFF;
    border-top: 1px solid #EEE;
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
}
.editor_window-submit input {
    margin: 0 5px;
}

/* Link Window */
.editor_link-form {
	margin: 0;
	padding: 0;
}
.editor_link-form-row {
	margin-bottom: 10px;
}
.link-inline-label {
	display: inline-block;
	padding: 5px 10px;
}
.link-inline-input {
	display: inline-block;
}
.link-inline-input > input {
	min-width: 350px;
	padding: 2px 5px;
}
.link-text {
	margin-bottom: 25px;
}
.editor_link-choice-column {
	float: left;
	min-width: 160px;
}
.editor_link-choice-column > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.editor_link-choice-column > ul > li {
    display: block;
    margin: 0 5px;
}
.editor_link-choice-column > ul > li > a {
    color: #88D;
    display: block;
    padding: 5px 10px;
    text-decoration:none;
}
.editor_link-choice-column > ul > li > a:hover {
    background-color: #EEE;
}
.editor_link-rel-column {
	float: left;
	margin-left: 15px;
	max-width:70%;
}
.link-rel-label {
	display: inline-block;
	padding: 5px 10px;
}
.link-rel-input {
	display: inline-block;
}
.link-rel-input > input {
	width: 275px;
}
.link-rel-testlink {
	padding-top: 5px;
	margin-left: 80px;
}
.link-rel-testlink a {
	color: #444444;
}
.link-rel-testlink a:hover {
	color: #000000;
}
#link-test {
	display: inline-block;
	font-weight: bold;
	margin-left: 10px;
}
.link-rel-info {
	margin-top: 20px;
	font-size: 8pt;
}

/* Link Form */
.editor_link-form-row {
    margin-bottom: 10px;
}
.editor_link-form-label {
    display: inline-block;
    margin-right: 10px;
    text-align: right;
    width: 100px;
}
.editor_link-form-label:after {
    content: ":";
}
.editor_link-form-input {
    display: inline-block;
}

#create_link {
    background: #DDD;
    border: 0;
    border-bottom: 3px solid #CCC;
    color: #222;
    font-family: Raleway, sans-serif;
    font-size: 10pt;
    padding: 8px 25px;
    background: #CFC;
    border-bottom: 3px solid #BEB;
}

#create_link:hover {
    background: #DFD;
    border-bottom: 3px solid #CFC;
}

/* Image Window */
.editor_window-image {
    border-bottom: 1px solid #EEE;
    margin: 5px 0;
    padding: 5px 0;
    position: relative;
    width: 100%;
}
.editor_window-image .image {
    display: inline-block;
    text-align: center;
    width: 100px;
}
.editor_window-image .image img {
    max-width: 100%;
}
.editor_window-image .info-wrapper {
    bottom: 5px;
    left: 120px;
    position: absolute;
    right: 0;
    top: 5px;
}
.editor_window-image .info-wrapper .filename {
    color: #444;
    display: inline-block;
    font-weight: bold;
    width: 250px;
}
.editor_window-image .info-wrapper .filesize {
    color: #888;
}
.editor_window-image .info-wrapper .options {
    bottom: 0;
    position: absolute;
}
.editor_window-edit-image .image {
    float:left;
    width: 200px;
}
.editor_window-edit-image .image img {
    width: 100%;
}
.editor_window-edit-image .options {
    display: inline-block;
    float: left;
    width: 280px;
}
.image-window-tabs {
    border-bottom: 1px solid #CCC;
    padding: 0 0 10px;
}
.image-window-tabs a {
    margin: 0 10px;
}
.options .options-row:first-child {
    margin-top: 0;
}
.options .options-row {
    margin: 10px;
}
.options .options-row:not(:last-child) {
    border-bottom: 1px solid #EEE;
    padding: 10px 0;
}
.options .options-row .options-label {
    display: inline-block;
    font-size: 12pt;
}
.options .options-row .options-label:after {
    content: ":";
    margin: 0 5px;
}
.options .options-row .options-input {
    display: inline-block;
}
.options .options-row .size {
    text-align: center;
    width: 45%;
}
.options .options-row .size input {
    width: calc(100% - 20px) !important;
}
.constrain .cbox {
    display: inline-block;
}

/* Executable Buttons */
.editor_format-options {
    background-color: #EEE;
    border: 3px solid #DDD;
    border-bottom: 0;
    padding: 10px;
}
.editor_separator {
    border: 1px solid #AAA;
    display: inline-block;
    height: 26px;
    margin: 0 10px;
}
select.editor_executable {
    float: left;
    margin-top: 5px;
}
a.editor_executable {
    background: -webkit-linear-gradient(top, #EEE, #CCC);
    background: -moz-linear-gradient(top, #EEE, #CCC);
    background: -ms-linear-gradient(top, #EEE, #CCC);
/*    -ms-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://www.google.com/images/srpr/logo11w.png', sizingMethod='scale');
    background-image: url("https://www.google.com/images/srpr/logo11w.png");*/
    border: 1px solid #AAA;
    display: inline-block;
    filter: inherit;
    height: 26px;
    opacity: inherit;
    position: relative;
    width: 26px;
}
a.editor_current {
    background: -webkit-linear-gradient(bottom, #CCC, #AAA);
    background: -moz-linear-gradient(bottom, #CCC, #AAA);
    background: -ms-linear-gradient(bottom, #CCC, #AAA);
}
a.editor_executable:after {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-size: 360px 22px;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .3s, box-shadow .3s;
}
a.editor_executable:hover:after {
    box-shadow: 0 0 5px #AAA;
    opacity: 1;
}
.editor_bold:after {
    background-position: 4px;
    background-size: auto 18px !important;
}
.editor_underline:after {
    background-position: -18px 4px;
    background-size: auto 20px !important;
}
.editor_italicize:after {
    background-position: -47px;
    background-size: 380px 20px !important;
}
.editor_unordered:after {
    background-position: -65px;
}
.editor_ordered:after {
    background-position: -89px;
}
.editor_justify-left:after {
    background-position: -111px;
}
.editor_justify-center:after {
    background-position: -133px;
}
.editor_justify-right:after {
    background-position: -156px;
}
.editor_justify-justify:after {
    background-position: -200px;
    background-size: auto 25px !important;
}
.editor_link {
    width: 32px !important;
}
.editor_link:after {
    background-position: -269px -1px;
    background-size: auto 30px !important;
}
.editor_image:after {
    background-position: -225px;
}
.editor_sink:after {
    background-position: -344px;
    background-size: auto 31px !important;
}
.editor_sink-wrapper {
    max-height: 0px;
    overflow:hidden;
    transition: max-height .3s;
    visibility: hidden;
}
.editor_sink-open {
    border-top: 1px solid #CCC;
    padding-top: 7px;
    margin-top: 5px;
    max-height: 100px;
    position: relative;
    visibility: visible;
}
.editor_togglecode:after {
    background-position: -300px;
    background-size: auto 25px !important;
}
.editor_codeblock {
    width: 32px !important;
}
.editor_codeblock:after {
    background-position: -389px;
    background-size: auto 30px !important;
}
.editor_indent:after {
    background-position: -328px;
    background-size: 376px auto !important;
}
.editor_outdent:after {
    background-position: -352px;
    background-size: 376px auto !important;
}