
/* Header */
.admin_header {
    background: #444;
    border-bottom: 5px solid #222;
    left: 0;
    min-width: 800px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000002;
}
.admin_header ul {
    color: #EEE;
    font-family: Raleway, sans-serif;
    font-size: 11pt;
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
}
.admin_header ul > li {
    border-right: 1px solid #222;
    border-left: 1px solid #888;
    border-bottom: 1px solid transparent;
    display: inline-block;
    float: left;
    padding: 8px 15px 5px;
    position: relative;
    margin: 0 0 0 -3px;
    transition: background .3s, border-bottom .3s;
}
.admin_header ul > li:first-child {
    border-left: 0;
}
.admin_header ul > li:last-child {
    border-right: 0;
}
.admin_header ul > li:hover {
    background: #666;
    border-bottom: 1px solid #C8C8FA;
    cursor: default;
    transition: background .3s, border-bottom .3s;
}
.admin_header ul > li > a {
    color: #EEE;
    text-decoration: none;
}
.admin_header ul > li:hover > ul {
    opacity: 1;
    transition: opacity .3s, visibility 0s ease 0s;
    visibility: visible;
}
.admin_header ul > li > ul {
    background: #FFF;
    border: 1px solid #CCC;
    border-bottom: 3px solid #AAA;
    border-top: 0;
    color: #444;
    margin: 6px 0 0 -16px;
    opacity: 0;
    position: absolute;
    transition: opacity .3s, visibility 0s ease .3s;
    visibility: hidden;
    width: 200px;
}
.admin_header  ul > li > ul > li {
    border: 0;
    display: block;
    float: none;
    margin: 0;
}
.admin_header ul > li > ul > li:hover {
    background-color: #EEE;
    border: 0;
}
.admin_header ul > li > ul > li > a {
    color: #444;
    display: block;
}
.admin_header-hr {
    border: 1px solid #EEE !important;
    margin: 5px 0 !important;
    padding: 0 !important;
}
.admin_header-right > li > ul {
    right: 0;
}
/* Header Icons */
.admin_header-icon {
    background-image: url("../img/header-sprite.png");
    background-repeat: no-repeat;
    background-size: auto 16px;
    display: inline-block;
    float: left;
    height: 16px;
    margin: 1px 10px 0 0;
    width: 16px;
}
.admin_header-noicon {
    display: inline-block;
    float: left;
    height: 16px;
    margin: 1px 10px 0 0;
    width: 16px;
}
.admin_header-user-icon {
    background-position: 0;
}
.admin_header-logo-icon {
    background-position: -32px;
}
.admin_header-new-icon {
    background-position: -16px;
    margin: 1px 5px 0 0;
}
.admin_header-noicon > img {
    height: 16px;
}

.admin_nav {
    background: #444;
    bottom: 0;
    left: -200px;
    padding-top: 50px;
    position: fixed;
    top: 0;
    transition: left .2s;
    visibility: hidden;
    width: 200px;
    z-index: 1000001;
}
.admin_nav-open {
    box-shadow: inset -10px 10px 10px #333;
    left: 0;
    transition: left .2s, box-shadow .2s ease 1s;
    visibility: visible;
}
.admin_content-wrapper {
    background: #FFF;
    bottom: 10px;
    box-shadow: 0 0 10px #000;
    left: 100%;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    top: 32px;
    transition: left .7s, box-shadow .2s ease 0s, visibility .7s;
    visibility: hidden;
    z-index: 1000000;
}
.admin_content-wrapper-open {
    bottom: 0;
    box-shadow: 0 0 0 transparent;
    left: 200px;
    transition: bottom .2s ease .7s, left .7s, box-shadow .2s ease .7s, visibility 0s;
    visibility: visible;
}