/* Fonts */
@font-face {
    font-family: Raleway;
    src: url('fonts/Raleway/raleway-regular-webfont.eot');
    src: url('fonts/Raleway/raleway-regular-webfont.eot?#iefix')
        format('embedded-opentype'), url('fonts/Raleway/raleway-regular-webfont.woff')
        format('woff'), url('fonts/Raleway/raleway-regular-webfont.ttf')
        format('truetype'), url('fonts/Raleway/raleway-regular-webfont.svg#ralewayregular')
        format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Floats */
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix {
    clear: both;
}
.inline {
    display: inline-block;
    vertical-align: top;
}

/* Sizes */
.half {
    width: 50%;
}
.col-half {
    width: 49%;
}
.col-half:not(:first-child) {
    margin: 0 0 20px;
}

/* Navigation */
.admin_nav ul {
    color: #EEE;
    font-family: Raleway, sans-serif;
    font-size: 12pt;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.admin_nav ul > li {
    border-bottom: 1px solid #111;
    border-top: 1px solid #777;
    display: block;
    padding: 10px;
    position: relative;
    transition: background .3s;
}
.admin_nav ul > li:first-child {
    border-top: 0;
}
.admin_nav ul > li:last-child {
    border-bottom: 0;
}
.admin_nav ul > li:hover {
    cursor: default;
    background-color: #555;
    transition: background .3s;
}
.admin_nav ul > li > a {
    color: #EEE;
    display: block;
    text-decoration: none;
}
.admin_nav ul > li.current {
    background: #555;
}
.admin_nav ul > li.current > ul:before {
    display: none;
}
.admin_nav ul > li.current > ul {
    background: transparent;
    border: 0;
    left: 0;
    margin: 10px 0 0;
    opacity: 1;
    position: relative;
    visibility: visible;
    width: 175px;
}
.admin_nav ul > li.current > ul > li:hover {
    background-color: #666;
}
.admin_nav ul > li.current > ul > li > a {
    color: #EEE;
}
.admin_nav ul > li.current > ul > li.admin_nav-hr {
    border: 1px solid #444 !important;
}
.admin_nav ul > li:hover > ul {
    opacity: 1;
    transition: opacity .3s, visibility 0s ease 0s;
    visibility: visible;
}
.admin_nav ul > li > ul {
    background: #FFF;
    border: 1px solid #AAA;
    border-bottom: 3px solid #AAA;
    border-left: 0;
    left: 200px;
    opacity: 0;
    position: absolute;
    transition: opacity .3s, visibility 0s ease .3s;
    top: 0;
    visibility: hidden;
    width: 175px;
    z-index: 1000;
}
.admin_nav ul > li > ul:before {
    content: "";
    border-bottom: 10px solid transparent;
    border-right: 10px solid #FFF;
    border-top: 10px solid transparent;
    left: -10px;
    position: absolute;
    top: 10px;
}
.admin_nav ul > li > ul > li {
    border: 0;
    padding: 5px 10px;
}
.admin_nav ul > li > ul > li:hover {
    background-color: #EEE;
}
.admin_nav ul > li > ul > li > a {
    color: #444;
    font-size: 10pt;
}
.admin_nav-hr {
    border: 1px solid #EEE !important;
    margin: 5px 0 !important;
    padding: 0 !important;
}
.admin_nav-footer {
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    bottom: 30px;
    color: #888;
    font-family: Raleway, sans-serif;
    left: 0;
    padding: 5px;
    position: absolute;
    width: 190px;
}
/* Navigation Icons */
.admin_nav-icon {
    background-image: url("../img/nav-sprite.png");
    background-repeat: no-repeat;
    background-size: auto 19px;
    display: inline-block;
    float: left;
    height: 19px;
    margin: 0px 10px 0 0;
    width: 19px;
}
.admin_nav-close-icon {
    background-position: 0;
    opacity: 0.8;
}
.admin_nav-home-icon {
    background-position: -19px;
}
.admin_nav-accounts-icon {
    background-position: -38px;
    opacity: 0.8;
}
.admin_nav-pages-icon {
    background-position: -57px;
}
.admin_nav-features-icon {
    background-position: -76px;
    opacity: 0.8;
}
.admin_nav-settings-icon {
    background-position: -95px;
    opacity: 0.8;
}
.admin_nav-media-icon {
    background-position: -114px;
    opacity: 0.8;
}

/* Content */
.admin_content-header {
    border-bottom: 1px solid #EEE;
    color: #444;
    font-family: Raleway, sans-serif;
    font-size: 20pt;
    min-width: 1000px;
    padding: 30px 30px 15px;
}
.admin_content-header-img {
    float: left;
    margin: 0 15px 0 0;
}
.admin_content-header-img > img {
    height: 32px;
}
.admin_content {
    max-width: 1500px;
    min-height: calc(100% - 5px);
    min-width: 760px;
    position: relative;
}
.admin_content-footer {
    color: #AAA;
    background: #FFF;
    bottom: 0;
    font-family: Raleway, sans-serif;
    font-size: 9pt;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    right: 20px;
}

.admin_container {
    border: 1px solid #CCC;
    border-bottom: 3px solid #CCC;
}
.admin_container:not(:first-child) {
    margin-top: 25px;
}
.admin_container-nopad {
    margin-top: 0 !important;
}
.admin_container-header {
    border-bottom: 1px solid #EEE;
    font-family: Raleway, sans-serif;
    font-size: 12pt;
    padding: 5px 10px;
}
.admin_container-content {
    padding: 10px 15px;
}
.admin_page-content {
    padding: 20px 30px 40px;
}

/* Admin Form */
.admin-form {
    margin: 0;
    padding: 0;
}
.admin-formrow {
    margin-bottom: 15px;
}
.admin-formlabel {
    color: #555555;
    display: inline-block;
    font-size: 12pt;
    text-align: right;
    width: 160px;
}
.admin-formlabel:after {
    content: ":";
}
.admin-forminput {
    color: #333333;
    display: inline-block;
    font-size: 12pt;
    margin-left: 10px;
}
.admin-formsubmitrow {
    padding: 0 20px;
}
.admin-formtext {
    display: inline-block;
    max-width: 500px;
    padding: 0 20px;
}
.admin-forminfo {
    color: #888888;
    padding-left: 165px;
    padding-top: 10px;
    width: 500px;
}
.admin-formcolumn {
    float: left;
    width: 50%;
}
.admin-formcolumn .admin-forminfo {
    width: 100%;
}
.afi-nopad {
    padding-left: 0;
}
.afi-col-nopad {
    color: #888888;
    padding: 0;
    width: 600px;
}
.afi-col {
    width: 50%;
}
.afl-float {
    float: left;
    margin-top: 1px;
}
.admin-form .togrow {
    transition: max-height .5s;
    -moz-transition: max-height .5s;
    -ms-transition: max-height .5s;
    -webkit-transition: max-height .5s;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
}
.admin-form .grown {
    max-height: 1000px;
    visibility: visible;
}
.admin-formheader {
    border-bottom: 1px solid #EEE;
    color: #888;
    font-size: 16pt;
    margin-bottom: 15px;
    padding: 5px;
}
.admin-formheader:not(:first-child) {
    margin-top: 55px;
}
.admin-forminput > span {
    font-size: 10pt;
}
.admin-form hr {
    border: 1px solid #EEE;
    margin: 20px 0;
}
.admin-formimg {
    float: left;
    margin-left: 15px;
}

/* Admin List */
.admin-listsink {
    border-bottom: 1px solid #EEE;
	margin-bottom: 20px;
    padding-bottom: 20px;
}
.admin-listsearch {
	display: inline-block;
    margin-right: 10px;
}
.admin-showamount {
	float: right;
}
.admin-showamount > span {
	color: #AAAAAA;
	display: inline-block;
	font-size: 12pt;
	margin-right: 10px;
}
.admin-list {
	margin: 0;
	padding: 0;
}
.admin-list > ul {
	transition: background .2s;
	-moz-transition: background .2s;
	-ms-transition: background .2s;
	-webkit-transition: background .2s;
	list-style: none;
	margin: 0;
	padding: 10px 0;
}
.admin-list > ul:hover {
	background: #EEEEEE;
}
.admin-list > ul:not(:last-child) {
	border-bottom: 1px solid #DDDDDD;
}
.admin-list > ul > li {
	display: inline-block;
	margin: 0;
	overflow: hidden;
	padding: 10px;
}
.admin-list > ul.header > li {
	font-weight: bold;
    padding: 0 15px;
}
@media (max-width: 900px) {
    .admin-list > ul > li {
        padding: 2px;
    }
    .admin-list > ul.header > li {
        padding: 0;
    }
}
.admin-listoptions {
	text-align: right;
    float: right;
}
.admin-listoptions > a {
	display: inline-block;
	margin: 0px 5px;
}
.admin-listoptions > a:not(:only-child):not(:first-child):before {
	content: "-";
	display: inline-block;
	margin-right: 10px;
}
.admin-list > ul.header:hover { background: #FFFFFF; }
.admin-list > ul > li.left { text-align: left; }
.admin-list > ul > li.center { text-align: center; }
.admin-list > ul > li.right { text-align: right; }

.pagination {
    margin:10px 0;
}
.pagination > a {
    background-color: #DDF;
    color: #777 !important;
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    transition: background-color .3s !important;
}
.pagination > a:hover {
    background-color: #EEF;
    text-decoration: none !important;
}
.pagination > a.current {
    background-color: #AAD;
    color: #EEE !important;
}
.pagination > a.current:hover {
    background-color: #CCE;
    color: #EEE;
}

/* Admin Text Input */
#admin-content input[type="text"],
#admin-content input[type="password"],
#admin-content input[type="email"] {
    border: 1px solid transparent;
    border-bottom: 1px solid #DDDDDD;
    color: #333333;
    outline: none;
    padding: 5px;
    transition: border .2s;
    -ms-transition: border .2s;
    -moz-transition: border .2s;
    -webkit-transition: border .2s;
    width: 250px;
}
#admin-content input[type="text"]:hover,
#admin-content input[type="password"]:hover,
#admin-content input[type="email"]:hover {
    border: 1px solid transparent;
    border-bottom: 1px solid #C8C8FA;
}
#admin-content input[type="text"]:focus,
#admin-content input[type="password"]:focus,
#admin-content input[type="email"]:focus {
    border: 1px solid #C8C8FA;
}
#admin-content input.longtext {
    width: 350px;
}
#admin-content input[type="text"]:disabled,
#admin-content input[type="password"]:disabled,
#admin-content input[type="email"]:disabled {
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
}

#admin-content .admin_textarea {
    border: 1px solid #CCC;
    font-family: sans-serif;
    font-size: 11pt;
    max-height: 500px;
    min-height: 200px;
    outline: none;
    overflow: auto;
    padding: 10px;
    position: relative;
    resize: none;
    transition: border .3s, box-shadow .3s;
    visibility: visible;
}

#admin-content .admin_textarea:hover,
#admin-content .admin_textarea:focus {
    border: 1px solid #888;
}
#admin-content .admin_textarea:focus {
    box-shadow: inset 0 0 5px 1px #AAA;
}

/* Admin File Input */
#admin-content input[type="file"] {
    border: 1px solid #CCC;
    padding: 5px;
    width: 350px;
}

/* Admin Select */
.admin-selectlabel > select {
    appearance: none;
    transition: border .2s;
    -moz-transition: border .2s;
    -ms-transition: border .2s;
    -webkit-transition: border .2s;
    -webkit-appearance: none;
    background: #FFFFFF;
    border: 1px solid #999999;
    color: #555555;
    cursor: default;
    display: inline-block;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    margin: 0;
    min-width:100px;
    outline: none;
    padding: 5px 7px 5px 5px;
}
.admin-selectlabel > select:hover {
    border: 1px solid #9696C8;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .admin-selectlabel > select { padding-right: 40px; }
}
.admin-selectlabel { position: relative; }
.admin-selectlabel:after {
    background-color: #FFFFFF;
    color: #999999;
    content: "<>";
    font: 11px "Consolas", monospace;
    height: 15px;
    padding: 0 5px 4px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 2px;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.admin-selectlabel:before {
    background-color: #EEEEEE;
    content: '';
    display: block;
    height: 20px;
    pointer-events: none;
    position: absolute;
    right: 6px;
    top: 0;
}
.admin-selectlabel > select:focus {
    border: 1px solid #C8C8FA;
}
.admin-selectlabel > select > option {
    background-color:#FFFFFF;
}
.admin-forminput > select {
    border: 1px solid #DDDDDD;
    max-width: 300px;
    outline: none;
    overflow-y: auto;
    padding: 5px 10px;
}
.admin-form select[multiple] > option[selected] {
    color: #000000;
}

/* Admin Checkbox */
.admin-cboxwrapper {
    float: left;
    margin-left: 15px;
    position: relative;
    width: 78px;
    -moz-user-select:none;
    -ms-user-select: none;
    -webkit-user-select:none;
}
.admin-switchcbox {
    display: none;
}
.admin-switchlabel {
    border: 1px solid #999999;
    cursor: pointer;
    display: block;
    overflow: hidden;
}
.admin-switchinner {
    transition: margin-left .2s;
    -moz-transition: margin-left .2s;
    -ms-transition: margin-left .2s;
    -webkit-transition: margin-left .2s;
    display:block;
    margin-left: -100%;
    width: 200%;
}
.admin-switchinner:before,
.admin-switchinner:after {
    color: white;
    float: left;
    font-family: Trebuchet, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    padding: 0;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.of > .admin-switchinner:before { content:"ON"; }
.of > .admin-switchinner:after { content:"OFF"; }
.yn > .admin-switchinner:before { content:"YES"; }
.yn > .admin-switchinner:after { content:"NO"; }
.admin-switchinner:before {
    background-color: #CCCCFF;
    color: #FFFFFF;
    padding-left: 10px;
}
.admin-switchinner:after {
    background-color: #FFFFFF;
    color: #999999;
    padding-right: 10px;
    text-align: right;
}
.admin-switchswitch {
    transition: right .2s;
    -moz-transition: right .2s;
    -ms-transition: right .2s;
    -webkit-transition: right .2s;
    background: #FFFFFF;
    border: 1px solid #999999;
    bottom: 5px;
    margin: 3px;
    position: absolute;
    right: 50px;
    top: 0;
    width: 18px;
}
.admin-switchcbox:checked + .admin-switchlabel .admin-switchinner {
    transition: margin-left .2s;
    -ms-transition: margin-left .2s;
    -moz-transition: margin-left .2s;
    -webkit-transition: margin-left .2s;
    margin-left: 0;
}
.admin-switchcbox:checked + .admin-switchlabel .admin-switchswitch {
    transition: right .2s;
    -ms-transition: right .2s;
    -moz-transition: right .2s;
    -webkit-transition: right .2s;
    right: 0px;
}
.admin-cboxlabel {
    color: #555555;
    float: left;
    font-size: 12pt;
    margin-top: 5px;
}

/* Admin Buttons */
#admin-content input[type="submit"],
#admin-content input[type="button"] {
    background: #DDD;
    border: 0;
    border-bottom: 3px solid #CCC;
    color: #222;
    font-family: Raleway, sans-serif;
    font-size: 11pt;
    padding: 8px 20px;
}

#admin-content input[type="submit"]:disabled,
#admin-content input[type="button"]:disabled {
    opacity: 0.5;
}

#admin-content input[type="submit"]:hover,
#admin-content input[type="button"]:hover {
    background: #EEE;
    border-bottom: 3px solid #DDD;
}

#admin-content input[type="submit"]:active,
#admin-content input[type="button"]:active {
    background: #CCC;
    border-bottom: 3px solid #BBB;
}

#admin-content input[type="submit"].admin-purpbtn,
#admin-content input[type="button"].admin-purpbtn {
    background: #CCF;
    border-bottom: 3px solid #BBE;
    color: #fff;
}

#admin-content input[type="submit"].admin-purpbtn:hover,
#admin-content input[type="button"].admin-purpbtn:hover {
    background: #DDF;
    border-bottom: 3px solid #CCF;
}

#admin-content input[type="submit"].admin-purpbtn:active,
#admin-content input[type="button"].admin-purpbtn:active {
    background: #BBE;
    border-bottom: 3px solid #AAD;
}

#admin-content input[type="submit"].admin-redbtn,
#admin-content input[type="button"].admin-redbtn {
    background: #FCC;
    border-bottom: 3px solid #EBB;
}

#admin-content input[type="submit"].admin-redbtn:hover,
#admin-content input[type="button"].admin-redbtn:hover {
    background: #FDD;
    border-bottom: 3px solid #FCC;
}

#admin-content input[type="submit"].admin-redbtn:active,
#admin-content input[type="button"].admin-redbtn:active {
    background: #EBB;
    border-bottom: 3px solid #DAA;
}

#admin-content input[type="submit"].admin-greenbtn,
#admin-content input[type="button"].admin-greenbtn {
    background: #CFC;
    border-bottom: 3px solid #BEB;
}

#admin-content input[type="submit"].admin-greenbtn:hover,
#admin-content input[type="button"].admin-greenbtn:hover {
    background: #DFD;
    border-bottom: 3px solid #CFC;
}

#admin-content input[type="submit"].admin-greenbtn:active,
#admin-content input[type="button"].admin-greenbtn:active {
    background: #BEB;
    border-bottom: 3px solid #ADA;
}

#admin-content input[type="submit"].inline,
#admin-content input[type="button"].inline {
    padding: 4px 20px !important;
}

/* Admin Loading */
.admin_loading-bg {
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .3s, visibility 0s ease .3s;
    visibility: hidden;
    z-index: 1000;
}
.admin_loading-bg-open {
    opacity: 1;
    transition: opacity .3s, visibility 0s ease 0s;
    visibility: visible;
}
.admin_loading-gif {
    left: calc(50% - 32px);
    opacity: 0;
    position: absolute;
    top: calc(50% - 32px);
    transition: opacity .3s, visibility 0s ease .3s;
    visibility: hidden;
    z-index: 1005;
}
.admin_loading-gif-open {
    opacity: 1;
    transition: opacity .3s, visibility 0s ease 0s;
    visibility: visible;
}

/* Scale */
@media (max-width: 1200px) {
    .admin_nav {
        width: 40px;
    }
    .admin_nav-icon {
        float: none;
        margin: 0;
    }
    .admin_nav ul > li > a > .admin_nav-text {
        display: none;
    }
    .admin_nav-footer {
        display: none;
    }
    .admin_nav ul > li > ul {
        left: 40px;
    }
    .admin_content-wrapper-open {
        left: 40px;
    }
    .admin_nav ul > li.current > ul {
        background: #FFF;
        border: 1px solid #AAA;
        border-bottom: 3px solid #AAA;
        border-left: 0;
        left: 40px;
        opacity: 0;
        position: absolute;
        transition: opacity .3s, visibility 0s ease .3s;
        top: -10px;
        visibility: hidden;
        width: 175px;
        z-index: 1000;
    }
    .admin_nav ul > li.current > ul:before {
        content: "";
        display: block !important;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #FFF;
        border-top: 10px solid transparent;
        left: -10px;
        position: absolute;
        top: 10px;
    }
    .admin_nav ul > li.current > ul > li {
        border: 0;
        padding: 5px 10px;
    }
    .admin_nav ul > li.current > ul > li:hover {
        background-color: #EEE;
    }
    .admin_nav ul > li.current > ul > li > a {
        color: #444;
    }
    .admin_nav ul > li.current > ul > li.admin_nav-hr {
        border: 1px solid #EEE !important;
    }
    .admin_nav ul > li:hover > ul {
        opacity: 1;
        transition: opacity .3s, visibility 0s ease 0s;
        visibility: visible;
    }
}

/* Admin Links */
#admin-content a {
    color: #88D;
    text-decoration: none;
    transition: color .3s;
}
#admin-content a:hover {
    color: #66B;
    text-decoration: underline;
}

/* Admin Results */
.admin-notifysuccess,
.admin-notifyfailure,
.admin-notifyinfo,
.admin-notifywarn {
	color: #444;
	margin-bottom: 20px;
	padding: 10px;
}
.admin-notifysuccess {
	background: #DFD;
}
.admin-notifyfailure {
	background: #FDD;
}
.admin-notifyinfo {
	background: #DDF;
}
.admin-notifywarn {
	background: #FFD;
}
.admin-notifysuccess > a,
.admin-notifyfailure > a,
.admin-notifyinfo > a,
.admin-notifywarn > a {
	color: #666;
	text-decoration: none;
}
.admin-notifysuccess > a:hover,
.admin-notifyfailure > a:hover,
.admin-notifyinfo > a:hover,
.admin-notifywarn > a {
	color: #111;
	transition: color .5s;
}

/* Column List */
.admin-columnlist {
    list-style: none;
    margin: 0 15px;
    padding: 0;
}
.admin-columnlist > li {
    display: block;
    margin: 0;
}
.admin-columnlist > li > a {
    display: block;
    padding: 5px;
}
.admin-columnlist > li > a:hover {
   background-color: #EEEEEE;
}

code {
    background-color: #EEE;
    display: block;
    padding: 10px;
}

/* File Uploading */
#upload-progress {
    background-color: #88D;
    color: #EEE;
    display: none;
    margin: 0 0 10px;
    width: 0;
}
#upload-percentage {
    display: block;
    padding: 5px 10px;
}

/* Fading Elements */
.admin-fade {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity .3s, visibility 0s ease .3s;
    -ms-transition: opacity .3s, visibility 0s ease .3s;
    -moz-transition: opacity .3s, visibility 0s ease .3s;
    -webkit-transition: opacity .3s, visibility 0 ease .3s;
    visibility: hidden;
}
.admin-faded {
    height: auto;
    opacity: 1 !important;
    transition: opacity .3s, visibility 0s ease .3s;
    -moz-transition: opacity .3s, visibility 0s ease .3s;
    -ms-transition: opacity .3s, visibility 0s ease .3s;
    -webkit-transition: opacity .3s, visibility 0 ease 0;
    visibility: visible !important;
}
