@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto.eot');
    src: url('../fonts/roboto/roboto.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto.woff') format('woff'),
         url('../fonts/roboto/roboto.ttf') format('truetype'),
         url('../fonts/roboto/roboto.svg#roboto') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    height: auto;
}

.header {
    margin-top: 55px;
    position: relative;
    text-align: center;
}
.header .logo {
    border-right: 3px solid #eee;
    box-shadow: inset -10px 0px 10px -10px #aaa;
    display: inline-block;
    padding-right: 25px;
}
.header .logo img {
    width: 40px;
}
.page-header {
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 2.5em;
    margin-left: 20px;
    position: relative;
    top: -13px;
}

.content {
    border: 1px solid #eee;
    border-radius: 3px;
    float: none;
    margin-top: 20px;
}

.next-step-wrapper {
    float: none;
    margin: .5% auto;
    text-align:right;
}

.form-header {
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
    padding-bottom: 10px;
    margin-top: 45px;
}
.form-header:first-child, :not(.form-header) + .form-header {
    margin-top: 0;
}
.control-label {
    color: #888;
    text-align: right;
}

#step-chooser {
    position: relative;
}
#step-chooser:after {
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
}